/* ********************
  BELOW 1024px/16 = 64em
  ******************
  */

@media (max-width: 64em) {
  header {
    margin-bottom: 16rem;
  }
  .container {
    width: 60%;
  }
  .functions {
    transform: translate(-80%);
  }
  footer {
    grid-template-columns: 15fr 60fr 25fr;
    padding: 4rem 10rem;
  }
  .container:not(header .container) {
    padding-top: 0;
  }
  .partners-logo {
    margin-bottom: -3rem;
  }
  .availability {
    margin-top: 20rem;
  }
}

/* ********************
  BELOW 900px/16 = 56.25em
  ******************
  */

@media (max-width: 56.25em) {
  .functionality {
    gap: 3rem;
  }
  .functions {
    width: 30%;
  }
  .partners-logo {
    margin-bottom: -5rem;
  }
}
/* ********************
  BELOW 768px/16 = 48em
  ******************
  */

@media (max-width: 48em) {
  .functions {
    width: 50%;
    transform: translate(-20%);
  }
  .mac-picture {
    transform: translate(-15%);
  }
  .container {
    width: 70%;
  }
  .tools-showcase {
    max-width: 90%;
  }
  footer {
    padding: 4rem 6rem;
  }
}
/* ********************
  BELOW 560px/16 = 35em
  ******************
  */

@media (max-width: 35em) {
  .header-btn {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .download-btn:link,
  .download-btn:visited {
    padding: 2rem 8rem;
    font-size: 1.8rem;
  }
  .sub-text-primary {
    font-size: 2rem;
  }

  .heading-secondary {
    font-size: 3.5rem;
  }

  .sub-text-secondary {
    font-size: 1.8rem;
  }

  .heading-tertiary {
    font-size: 2.8rem;
  }

  .sub-text-tertiary {
    font-size: 1.6rem;
  }

  .functionality {
    flex-direction: column;
  }
  .mac-picture {
    transform: translate(0%);
    padding: 0 2.5rem;
  }
  .functions {
    width: 70%;
    transform: translate(0%);
    text-align: center;
  }
  .tools-showcase {
    /* gap: 2rem; */
    grid-template-columns: 1fr;
    max-width: 80%;
  }
  footer {
    padding: 2rem 2rem;
  }
}

/* ********************
  BELOW 448px/16 = 28em
  ******************
  */

@media (max-width: 28em) {
  .container {
    width: 91%;
  }
  header .sub-text-primary {
    margin-bottom: 4.8rem;
  }
  .download-btn:link,
  .download-btn:visited {
    padding: 2rem 8rem;
    font-size: 1.6rem;
  }
  .functionality {
    margin-bottom: 6.4rem;
  }
  .partners {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    gap: 11rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    padding-top: 2.4rem;
  }
  .footer-links {
    grid-template-columns: 1fr;
    gap: 3rem;

    text-align: center;
  }
  .footer-text {
    font-size: 1.8rem;
  }
  .social-media {
    justify-content: center;
  }

  .social-media {
    gap: 4rem;
  }
}

/* ********************
  BELOW 375px/16 = 23.44em
  ******************
  */

@media (max-width: 23.45em) {
  .container {
    padding-top: 8rem;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .functions {
    width: 80%;
  }
  .tools-showcase {
    max-width: 85%;
    gap: 6.4rem;
  }
}

/* ********************
  BELOW 320px/16 = 20em
  ******************
  */

@media (max-width: 20em) {
  .download-btn:link,
  .download-btn:visited {
    padding: 2rem 7rem;
  }
}
